<script>
$(document).ready(function() {
	$('div.showhide').hide();
  	$('#hideh1').click(function(){
	     $('div.showhide').hide();
	   });
	$('#showh1').click(function(){
	     $('div.showhide').show();
	   });
	$('#toggleh1').click(function(){
	     $('div.showhide').slideToggle("slow");
	     //$('#toggleh1').val('collapse');
	   });
	
	$("#cancel_button").click(function () { $("#popup_dialog").dialog("close"); });
	$("#update_button").click(function () { $("#popup_dialog").dialog("close"); $("#popup_dialog").dialog("destroy");});

	/* Activating Best In Place */
	jQuery(".best_in_place").best_in_place();		
});
</script>


<h1>Editing Etymology</h1>
<%#= error_messages_for 'etymology' %>
	

	<b>Etymology: </b>
	<%= link_to image_tag('pencil.png',:border => 0), etymology_inline_edit_url(:id => @etymology.id, :field => 'etymology', :div_suffix => 'etypopupdiv'), :remote => true %> 	
	<% inline_edit_path = etymology_inline_edit_url(:id => @etymology.id, :field => 'etymology', :div_suffix => 'etypopupdiv') %>
	<% if @etymology.etymology.blank?
	       t_content = 'Click to modify'
	   else
	       t_content = @etymology.etymology.s     
	   end %>
	<span class="etymologies_show">
		<div id="<%= "#{@etymology.id}_etypopupdiv" %>">
			<%= link_to "#{t_content}".html_safe, inline_edit_path, :class => 'etymologies_show', :remote => true %>
	    </div>
	</span>

	<br><b>Analytical note: </b>
	<%= link_to image_tag('pencil.png',:border => 0), etymology_inline_edit_url(:id => @etymology.id, :field => 'analytical_note', :div_suffix => 'anotediv'), :remote => true %> 	
	<% inline_edit_path = etymology_inline_edit_url(:id => @etymology.id, :field => 'analytical_note', :div_suffix => 'anotediv') %>
	<% if @etymology.analytical_note.blank?
	       t_content = 'Click to modify'
	   else
	       t_content = @etymology.analytical_note.s     
	   end %>
	<span class="etymologies_show">
		<div id="<%= "#{@etymology.id}_anotediv" %>">
			<%= link_to "#{t_content}".html_safe, inline_edit_path, :class => 'etymologies_show', :remote => true %>
	    </div>
	</span>
	
	

	
	<br><b>Tibetan Dialect: </b>
	
	<br><b>Literary genre: </b>
	

	
	<br><b>Edit Multimedia Data: </b>
	<input type='button' name='toggleh1' value='show/hide multimedia' id='toggleh1'><br>
	<div class='showhide' style='border-style:solid;border-width:1px;padding:5px 5px;margin-left: 5pt;'>
		<br><b>Image: </b>
		<br><%#= best_in_place @etymology, :image %>
		<% inline_edit_path = etymology_inline_edit_url(:id => @etymology.id, :field => 'image', :div_suffix => 'imagediv') %>
		<% if @etymology.image.blank?
		       t_content = 'Click to modify'
		   else
		       t_content = @etymology.image.s     
		   end %>
		<span class="etymologies_show">
			<div id="<%= "#{@etymology.id}_imagediv" %>">
				<%= link_to "#{t_content}".html_safe, inline_edit_path, :class => 'etymologies_show', :remote => true %>
		    </div>
		</span>
		<br><b>Image caption: </b>
		<br><%#= best_in_place @etymology, :image_caption %>
		<% inline_edit_path = etymology_inline_edit_url(:id => @etymology.id, :field => 'image_caption', :div_suffix => 'image_captiondiv') %>
		<% if @etymology.image_caption.blank?
		       t_content = 'Click to modify'
		   else
		       t_content = @etymology.image_caption.s     
		   end %>
		<span class="etymologies_show">
			<div id="<%= "#{@etymology.id}_image_captiondiv" %>">
				<%= link_to "#{t_content}".html_safe, inline_edit_path, :class => 'etymologies_show', :remote => true %>
		    </div>
		</span>
		<br><b>Image photographer: </b>
		<br><%#= best_in_place @etymology, :image_photographer %>
		<% inline_edit_path = etymology_inline_edit_url(:id => @etymology.id, :field => 'image_photographer', :div_suffix => 'image_photographerdiv') %>
		<% if @etymology.image_photographer.blank?
		       t_content = 'Click to modify'
		   else
		       t_content = @etymology.image_photographer.s     
		   end %>
		<span class="etymologies_show">
			<div id="<%= "#{@etymology.id}_image_photographerdiv" %>">
				<%= link_to "#{t_content}".html_safe, inline_edit_path, :class => 'etymologies_show', :remote => true %>
		    </div>
		</span>
		<br><b>Image link: </b>
		<br><%#= best_in_place @etymology, :image_link %>
		<% inline_edit_path = etymology_inline_edit_url(:id => @etymology.id, :field => 'image_link', :div_suffix => 'image_linkdiv') %>
		<% if @etymology.image_link.blank?
		       t_content = 'Click to modify'
		   else
		       t_content = @etymology.image_link.s     
		   end %>
		<span class="etymologies_show">
			<div id="<%= "#{@etymology.id}_image_linkdiv" %>">
				<%= link_to "#{t_content}".html_safe, inline_edit_path, :class => 'etymologies_show', :remote => true %>
		    </div>
		</span>
		<br><b>Image description: </b>
		<% def_edit_path = etymology_inline_edit_url(:id => @etymology.id, :field => 'image_description', :div_suffix => 'imagedescdiv') %>
		<% if @etymology.image_description.blank?
		       t_content = 'Click to modify'
		   else
		       t_content = @etymology.image_description.s     
		   end %>
		<span class="tinyfied_show">
			<div id="<%= "#{@etymology.id}_imagedescdiv" %>">
				<%= link_to "#{t_content}".html_safe, def_edit_path, :class => 'etymologies_show', :remote => true %>
		    </div>
		</span>
		<br><b>Audio: </b>
		<br><%#= best_in_place @etymology, :audio %>
		<% inline_edit_path = etymology_inline_edit_url(:id => @etymology.id, :field => 'audio', :div_suffix => 'audiodiv') %>
		<% if @etymology.audio.blank?
		       t_content = 'Click to modify'
		   else
		       t_content = @etymology.audio.s     
		   end %>
		<span class="etymologies_show">
			<div id="<%= "#{@etymology.id}_audiodiv" %>">
				<%= link_to "#{t_content}".html_safe, inline_edit_path, :class => 'etymologies_show', :remote => true %>
		    </div>
		</span>
		<br><b>Audio id number: </b>
		<br><%#= best_in_place @etymology, :audio_id_number %>
		<% inline_edit_path = etymology_inline_edit_url(:id => @etymology.id, :field => 'audio_id_number', :div_suffix => 'audio_id_numberdiv') %>
		<% if @etymology.audio_id_number.blank?
		       t_content = 'Click to modify'
		   else
		       t_content = @etymology.audio_id_number.s     
		   end %>
		<span class="etymologies_show">
			<div id="<%= "#{@etymology.id}_audio_id_numberdiv" %>">
				<%= link_to "#{t_content}".html_safe, inline_edit_path, :class => 'etymologies_show', :remote => true %>
		    </div>
		</span>
		<br><b>Audio speaker: </b>
		<br><%#= best_in_place @etymology, :audio_speaker %>
		<% inline_edit_path = etymology_inline_edit_url(:id => @etymology.id, :field => 'audio_speaker', :div_suffix => 'audio_speakerdiv') %>
		<% if @etymology.audio_speaker.blank?
		       t_content = 'Click to modify'
		   else
		       t_content = @etymology.audio_speaker.s     
		   end %>
		<span class="etymologies_show">
			<div id="<%= "#{@etymology.id}_audio_speakerdiv" %>">
				<%= link_to "#{t_content}".html_safe, inline_edit_path, :class => 'etymologies_show', :remote => true %>
		    </div>
		</span>
		<br><b>Audio date: </b>
		<br><%#= best_in_place @etymology, :audio_date %>
		<% inline_edit_path = etymology_inline_edit_url(:id => @etymology.id, :field => 'audio_date', :div_suffix => 'audio_datediv') %>
		<% if @etymology.audio_date.blank?
		       t_content = 'Click to modify'
		   else
		       t_content = @etymology.audio_date.s     
		   end %>
		<span class="etymologies_show">
			<div id="<%= "#{@etymology.id}_audio_datediv" %>">
				<%= link_to "#{t_content}".html_safe, inline_edit_path, :class => 'etymologies_show', :remote => true %>
		    </div>
		</span>
		<br><b>Audio place of recording: </b>
		<br><%#= best_in_place @etymology, :audio_place_of_recording %>
		<% inline_edit_path = etymology_inline_edit_url(:id => @etymology.id, :field => 'audio_place_of_recording', :div_suffix => 'audio_place_of_recordingdiv') %>
		<% if @etymology.audio_place_of_recording.blank?
		       t_content = 'Click to modify'
		   else
		       t_content = @etymology.audio_place_of_recording.s     
		   end %>
		<span class="etymologies_show">
			<div id="<%= "#{@etymology.id}_audio_place_of_recordingdiv" %>">
				<%= link_to "#{t_content}".html_safe, inline_edit_path, :class => 'etymologies_show', :remote => true %>
		    </div>
		</span>
		<br><b>Audio link: </b>
		<br><%#= best_in_place @etymology, :audio_link %>
		<% inline_edit_path = etymology_inline_edit_url(:id => @etymology.id, :field => 'audio_link', :div_suffix => 'audio_linkdiv') %>
		<% if @etymology.audio_link.blank?
		       t_content = 'Click to modify'
		   else
		       t_content = @etymology.audio_link.s     
		   end %>
		<span class="etymologies_show">
			<div id="<%= "#{@etymology.id}_audio_linkdiv" %>">
				<%= link_to "#{t_content}".html_safe, inline_edit_path, :class => 'etymologies_show', :remote => true %>
		    </div>
		</span>
		<br><b>Audio description: </b>
		<% def_edit_path = etymology_inline_edit_url(:id => @etymology.id, :field => 'audio_description', :div_suffix => 'audiodescdiv') %>
		<% if @etymology.audio_description.blank?
		       t_content = 'Click to modify'
		   else
		       t_content = @etymology.audio_description.s     
		   end %>
		<span class="tinyfied_show">
			<div id="<%= "#{@etymology.id}_audiodescdiv" %>">
				<%= link_to "#{t_content}".html_safe, def_edit_path, :class => 'etymologies_show', :remote => true %>
		    </div>
		</span>
		<br><b>Video: </b>
		<br><%#= best_in_place @etymology, :video %>
		<% inline_edit_path = etymology_inline_edit_url(:id => @etymology.id, :field => 'video', :div_suffix => 'videodiv') %>
		<% if @etymology.video.blank?
		       t_content = 'Click to modify'
		   else
		       t_content = @etymology.video.s     
		   end %>
		<span class="etymologies_show">
			<div id="<%= "#{@etymology.id}_videodiv" %>">
				<%= link_to "#{t_content}".html_safe, inline_edit_path, :class => 'etymologies_show', :remote => true %>
		    </div>
		</span>
		<br><b>Video id number: </b>
		<br><%#= best_in_place @etymology, :video_id_number %>
		<% inline_edit_path = etymology_inline_edit_url(:id => @etymology.id, :field => 'video_id_number', :div_suffix => 'video_id_numberdiv') %>
		<% if @etymology.video_id_number.blank?
		       t_content = 'Click to modify'
		   else
		       t_content = @etymology.video_id_number.s     
		   end %>
		<span class="etymologies_show">
			<div id="<%= "#{@etymology.id}_video_id_numberdiv" %>">
				<%= link_to "#{t_content}".html_safe, inline_edit_path, :class => 'etymologies_show', :remote => true %>
		    </div>
		</span>
		<br><b>Video speaker: </b>
		<br><%#= best_in_place @etymology, :video_speaker %>
		<% inline_edit_path = etymology_inline_edit_url(:id => @etymology.id, :field => 'video_speaker', :div_suffix => 'video_speakerdiv') %>
		<% if @etymology.video_speaker.blank?
		       t_content = 'Click to modify'
		   else
		       t_content = @etymology.video_speaker.s     
		   end %>
		<span class="etymologies_show">
			<div id="<%= "#{@etymology.id}_video_speakerdiv" %>">
				<%= link_to "#{t_content}".html_safe, inline_edit_path, :class => 'etymologies_show', :remote => true %>
		    </div>
		</span>
		<br><b>Video date: </b>
		<br><%#= best_in_place @etymology, :video_date %>
		<% inline_edit_path = etymology_inline_edit_url(:id => @etymology.id, :field => 'video_date', :div_suffix => 'video_datediv') %>
		<% if @etymology.video_date.blank?
		       t_content = 'Click to modify'
		   else
		       t_content = @etymology.video_date.s     
		   end %>
		<span class="etymologies_show">
			<div id="<%= "#{@etymology.id}_video_datediv" %>">
				<%= link_to "#{t_content}".html_safe, inline_edit_path, :class => 'etymologies_show', :remote => true %>
		    </div>
		</span>
		<br><b>Video place of recording: </b>
		<br><%#= best_in_place @etymology, :video_place_of_recording %>
		<% inline_edit_path = etymology_inline_edit_url(:id => @etymology.id, :field => 'video_place_of_recording', :div_suffix => 'video_place_of_recordingdiv') %>
		<% if @etymology.video_place_of_recording.blank?
		       t_content = 'Click to modify'
		   else
		       t_content = @etymology.video_place_of_recording.s     
		   end %>
		<span class="etymologies_show">
			<div id="<%= "#{@etymology.id}_video_place_of_recordingdiv" %>">
				<%= link_to "#{t_content}".html_safe, inline_edit_path, :class => 'etymologies_show', :remote => true %>
		    </div>
		</span>
		<br><b>Video link: </b>
		<br><%#= best_in_place @etymology, :video_link %>
		<% inline_edit_path = etymology_inline_edit_url(:id => @etymology.id, :field => 'video_link', :div_suffix => 'video_linkdiv') %>
		<% if @etymology.video_link.blank?
		       t_content = 'Click to modify'
		   else
		       t_content = @etymology.video_link.s     
		   end %>
		<span class="etymologies_show">
			<div id="<%= "#{@etymology.id}_video_linkdiv" %>">
				<%= link_to "#{t_content}".html_safe, inline_edit_path, :class => 'etymologies_show', :remote => true %>
		    </div>
		</span>
		<br><b>Video description: </b>
		<% def_edit_path = etymology_inline_edit_url(:id => @etymology.id, :field => 'video_description', :div_suffix => 'videodescdiv') %>
		<% if @etymology.video_description.blank?
		       t_content = 'Click to modify'
		   else
		       t_content = @etymology.video_description.s     
		   end %>
		<span class="tinyfied_show">
			<div id="<%= "#{@etymology.id}_videodescdiv" %>">
				<%= link_to "#{t_content}".html_safe, def_edit_path, :class => 'etymologies_show', :remote => true %>
		    </div>
		</span>
	</div> <!--- #showhide -->
	
<%= form_for :etymology, :url => { :action => "update_dynamic_etymology" }, :remote => true  do |f| %>
	
	<br><b>Etymology type: </b>
	<% 	@data = Category.find(182)
		@etymology_category = @data.children.collect {|l| [ h(l.title), l.id ] }
	%>
	<%= select(:etymology, :etymology_category_id, @etymology_category, { :include_blank => true }) %>

	<br><b>Loan language: </b>
	<% 	@data = Category.find(184)
		@loan_language_type = @data.children.collect {|l| [ h(l.title), l.id ] } %>
	<%= select(:etymology, :loan_language_type_id, @loan_language_type, { :include_blank => true }) %>
	
	
	<br><b>Derivation type: </b>
	<%	@data = Category.find(180)
    	@derivation_type = @data.children.collect {|l| [ h(l.title), l.id ] } %>
	<%= select(:etymology, :derivation_type_id, @derivation_type, { :include_blank => true }) %>
	
	<br><b>Literary period: </b>
	<% @data = Category.find(187)
    	@literary_period_type = @data.children.collect {|l| [ h(l.title), l.id ] } %>
    <%= select(:etymology, :literary_period_type_id, @literary_period_type, { :include_blank => true }) %>

	<br><b>Literary form: </b>
	<% @data = Category.find(186)
		@literary_form_type = @data.children.collect {|l| [ h(l.title), l.id ] } %>
	<%= select(:etymology, :literary_form_type_id, @literary_form_type, { :include_blank => true }) %>
	
  <input type="hidden" name="id" value="<%= params["id"] %>"/>
  <input type="hidden" name="pk" value="<%= params['pk'] %>">
  <br>
  <%= submit_tag 'Update', :id => 'update_button' %>
  <input type='button' name='cancel_button' value='Cancel' id='cancel_button'>
<% end %> <!--form_for-->	

