<% if d != nil 
	@definition = d %>
	
	<b>Definition: </b>
		<%= link_to image_tag('user.png',:border => 0), {:controller => 'definitions', :action => 'display_history', :history_id => d.id, :history_class => d.class.to_s},  :remote => true, :class => 'ui_definition_dialog', :title=>'Contributors' %>
	<%= link_to image_tag('pencil.png',:border => 0), {:controller => 'definitions', :action => 'edit_dynamic_definition', :id => d.id,  :internal=>'edit_box', :public=>'yes'},  :remote => true, :class => 'ui_definition_dialog', :title=>'Definition Edit' %>
	<span class=menuvalue onclick="definition_id=<%= d.id.to_s %>;parent_id=<%= head_id.to_s %>;show_menu(definition_menu,getCoord(arguments[0]));">		
	<%= link_to_function image_tag('plugin.png', :alt => 'Edit', :border => 0), '', :title => 'Edit Relationships' %> 
	</span>
	
	

	<% def_edit_path = definition_edit_url(:id => @definition.id, :field => 'definition', :div_suffix => 'defdiv') %>
	<% if @definition.definition.blank?
	       t_definition = 'Click to modify'
	   else
	       t_definition = @definition.definition.s     
		end %>
	<span class="tib1">
		<span class="definitions_show">
			<div id="<%= "#{@definition.id}_defdiv" %>">
				<%= link_to "#{t_definition}".html_safe, def_edit_path, :class => 'definitions_show', :remote => true %>
		    </div>
		</span>
	</span>



	<div id="<%= d.id%>_definition_translations_div"> 
		<%=   render :partial => 'translations/index', :locals => {:o => d, :parent_id => parent_id, :head_id => head_id} %>
	</div>
		
	<br><b>Subjects:</b>
	<%= link_to image_tag('pencil.png',:border => 0), {:controller => 'definition_category_associations', :action => 'new_inline', :id => d.id,  :internal=>'edit_box', :public=>'yes'},  :remote => true, :class => 'ui_definition_dialog', :title=>'Definition Edit' %>
	<div id="<%= d.id%>_definition_thematic_classification_div"> 
		<%#=   render :partial => 'definition_category_associations/index', :locals => {:data_id => 272} %>
		<%=   render :partial => 'definition_category_associations/generic_index' %>			
	</div>
	
	<br/>
	<b>Grammatical function: </b>
	<%= link_to image_tag('pencil.png',:border => 0), new_inplace_category_definition_association_definition_url(@definition.id, 286), :remote => true %>

	<%#=  "#{link_to(image_tag('pencil.png',:border => 0), :url => new_inplace_category_definition_association_definition_url(@definition.id, 286), :remote => true, :update => "#{@definition.id}_definition_grammatical_function_div", :method => :get, :html => {:class => 'definitions_show'} ) }".html_safe %> 
	<div id="<%= d.id%>_definition_grammatical_function_div"> 
		<%=   render :partial => 'definition_category_associations/index', :locals => {:data_id => 286} %>			
	</div>
	
	
	<% if !d.numerology.blank?  %>
		<br><b>Enumeration: </b>
		<%#= best_in_place @definition, :numerology %> 
		<% def_edit_path = definition_edit_url(:id => @definition.id, :field => 'numerology', :div_suffix => 'numerologydiv') %>
		<% if @definition.numerology.blank?
		       t_content = 'Click to modify'
		   else
		       t_content = @definition.numerology   
		   end %>
		<span class="tinyfied_show">
			<div id="<%= "#{@definition.id}_numerologydiv" %>">
				<%= link_to "#{t_content}".html_safe, def_edit_path, :class => 'definitions_show', :remote => true %>
		    </div>
		</span>
		<br>
	<% end %>
	
	<br/>
	<b>Literary genre:</b>
	<div id="<%= d.id%>_definition_literary_genre_div"> 
		<%=   render :partial => 'definition_category_associations/index', :locals => {:data_id => 119} %>			
	</div>
	
	<br/>
	<b>Tibetan Dialect:</b>  
	
	
	
	<div id="<%= d.id%>_pronunciations_div"> 
	  	<%=   render :partial => 'pronunciations/index', :locals => {:d => d, :parent_id => parent_id, :head_id => head_id} %>	
	</div>
	
	<div id="<%= d.id%>_etymologies_div"> 
	  	<%=   render :partial => 'etymologies/index', :locals => {:d => d, :parent_id => parent_id, :head_id => head_id} %>	
	</div>
	
	<div id="<%= d.id%>_spellings_div">
	  	<%=   render :partial => 'spellings/index', :locals => {:d => d, :parent_id => parent_id, :head_id => head_id} %>
	</div> 
		
	
<% end %>