<% if d.full_synonyms.size > 0
 	count = 0;
   	size = d.full_synonyms.size;
  	for e in d.full_synonyms %>
		<b>Full Synonym:</b>
		<%= link_to image_tag('user.png',:border => 0), {:controller => 'definitions', :action => 'display_history', :history_id => e.id, :history_class => e.class.to_s},  :remote => true, :class => 'ui_definition_dialog', :title=>'Contributors' %>
		<%#= link_to image_tag('pencil.png',:border => 0), {:controller => 'etymologies', :action => 'edit_dynamic_etymology',:id => e.id, :internal=>'edit_box', :public=>'yes'},  :remote => true, :class => 'ui_definition_dialog', :title=>'Etymology Edit' %>
    	<%#was hidden= link_to_remote image_tag('pencil.png',:border=>0, :title => 'Edit'), :update => d.id.to_s+'_full_synonym', :loading => 'dialect_id='+e.id.to_s, :url => {:controller => 'full_synonyms', :action => 'public_edit', :id => e.id, :params => {'definition_id' => head_id}} %>
	
		<span class=menuvalue onclick=show_menu(full_synonym_menu,getCoord(arguments[0]));>
			<%= link_to_function image_tag('plugin.png', :alt => 'Edit', :border => 0), 'full_synonym_id='+e.id.to_s, :title => 'Edit Relationships' %> 
		</span>
		<%= link_to image_tag('cross.png',:border => 0), {:controller => 'definitions', :action => 'public_remove_full_synonym', :id => d.id, :parent_id => parent_id, :head_id => head_id, :full_synonym => e.id},  :remote => true, :class => 'ui_definition_dialog', :title=>'Remove Full Synyonym', :confirm => "Are you sure you want to remove this Full Synyonym?", :complete => 're_initialize();' %>
	
		<span class="tib1">
			<% for t in e.definitions %>
				<%= link_to(t.term.s, :action => 'public_edit', :id => t.id) unless t.term == d.term %>&nbsp;
				<% end %>
		</span>
		<br>
	
		<dl style="margin-top:0em;margin-bottom:0em;">
			<dd style="display:none"></dd>
			<div id="<%= e.id%>_fullsynonym_metas_div">
	   			<% if e.meta != nil%>
	       			<% t = Time.now %>
	       			<%= render :partial => 'metas/index', :locals => {:t => t.to_f, :element =>e, :meta => e.meta , :head_id => head_id} %>	
		  		<% end %>
			</div>
		</dl>
		
	<% end %>
<% end %>
<span id="<%= d.id%>_full_synonym" > </span>
